html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #root {
    height: 100%;
  }

#scroll::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: transparent;
}

#scroll::-webkit-scrollbar
{
	width: 7px;
	background-color:transparent;
}

#scroll::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: rgb(228, 228, 228);
}